html, body, div {
	margin: 0;
	padding: 0;
}

.clearfix {
	clear: both;
}

.img {
	width: 100%;
}


header {
	background-color: black;
	color: white;
	line-height: 1;
}

header > nav {
	float: left;
}

header > nav > div {
	float: left;
	padding: 12px 20px;
	cursor: pointer;	/* 커서가 손가락으로 바뀜 */
}

header > nav > div:hover {
	background-color: #ccc;
	color: #000;
}

header > span {
	float: right;
	padding: 12px 24px;
	cursor: pointer;
}

header > span:hover {
	background-color: #ee2200;
}