html, body, div {
	margin: 0;
	padding: 0;
}

.clearfix {
	clear: both;
}


header {
	background-color: black;
	color: white;
}

header > nav {
	float: left;
}

header > nav > div {
	float: left;
	padding: 12px;
}

header > nav > div:hover {
	background-color: #ccc;
	color: #000;
}

header > span {
	float: right;
	padding: 12px;
}

header > span:hover {
	background-color: #ee2200;
}